* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1080px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

h2.titulo {
    color: #ffffff;
    font-size: 34px;
    text-align: center;
}

h2.titulo span {
    color: #781194;
}

button:hover,
form .btn-enviar input {
    box-shadow: 0px 0px 8px #c801ff;
    transform: scale(1.05);
}

/* Cabeçalho */
header {
    padding: 40px 4%;
}

.logo img {
    width: 100px;
    height: auto;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .25s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button {
    padding: 10px 40px;
    margin: 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: #781194;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .25s;
}



/* Topo */
section.topo-site {
    padding: 40px 4%;
}

section.topo-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-site h1 {
    color: #fff;
    font-size: 36px;
    line-height: 45px;
}

.topo-site h1 span {
    color: #781194;
    font-size: 50px;
}

.topo-site p {

    text-align: justify;
}

.topo-site .txt-topo-site {
    color: #fff;
    margin: 70px 0;
}

.topo-site .img-topo img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}


/* especialidades */
section.especialidades {
    padding: 80px 4%;
}


section.especialidades .flex {
    gap: 90px;

}

.especialidades .especilidades-box {
    color: #f7f3f3;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especilidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #dfdfdf;
}

.especialidades .especilidades-box i {
    font-size: 70px;
    color: #c801ff;

}

.especialidades .especilidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

.especialidades .especilidades-box p {
    text-align: justify;
}


/* sobre */
.img-sobre img {
    padding: 40px 4%;
    max-width: 100%;
    width: 300px;
    height: auto;
    border-radius: 40px;
    display: block;
    margin: 0 auto;
}

section.sobre {
    padding: 80px 4%;

}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    flex: 1;
    padding-right: 20px;
    color: #fff;

}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 40px;

}

.sobre .txt-sobre span {
    color: #781194;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}


.sobre .txt-sobre .btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #781194;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;

}



/* PROJETOS */

section.projeto {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.projeto {
    gap: 40px;
}

.projeto .projeto-box {
    color: #f7f3f3;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.projeto .projeto-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #dfdfdf;
}

.projeto .projeto-box i {
    font-size: 70px;
    color: #c801ff;

}

.projeto .projeto-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

.projeto .projeto-box p {
    text-align: justify;
    line-height: 1.6;
    font-size: 16px;
}

.projeto-box a {
    display: inline-block;
    text-align: justify;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.6;
    transition: color 0.3s ease, transform 0.3s ease;
}

.projeto-box a:hover {
    color: #c801ff;
    transform: translateY(-2px);
    text-decoration: underline;
}



/* formulario */

section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 100px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;

}

form .btn-enviar input {
    width: 120px;
    background-color: #781194;
    font-weight: 700;
    cursor: pointer;
}


/* footer */

.footer {
    background-color: #78119460;
    color: rgb(255, 255, 255);
    padding: 35px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.footer-content p {
    font-size: 15px;
}

.footer-social button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: #781194;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

.footer-content i{
    color: #ffffff;
}